* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #3837a0;
    text-align: center;
}

.container {
    height: 70vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;

}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: 0;
    font-size: 5rem;
    color: #6721d0;
    background-color: #13a57e;
}

#reset-btn {
    height: 5vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: 0;
    background-color: #08e840;
    color: #621040;

}
#new-btn {
    height: 5vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: 0;
    background-color: #08e840;
    color: #621040;
}
#msg {
    color: #08e840;
    font-size: 8vmin;
}
.msg-container {
    height: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}
.hide {
    display: none;
}

#mn {
    margin-top: 5rem;
}

#tic {
    color: #12ef42;
}